---
import Layout from '@/layouts/Layout.astro';
import { ASCIIBackground } from '@/components/ASCIIBackground';
import { Hero } from '@/components/Hero';
import { Products } from '@/components/Products';
import { Footer } from '@/components/Footer';
---

<Layout title="Kernel Coffee - Tech-Powered Fuel for Developers">
	<ASCIIBackground client:load />
	<div class="relative z-10">
		<Hero client:load />
		<Products client:load />
		<Footer />
	</div>
</Layout>
