---
import Layout from '@/layouts/Layout.astro';
import { ASCIIBackground } from '@/components/ASCIIBackground';
import { Hero } from '@/components/Hero';
import { WorkflowProducts } from '@/components/WorkflowProducts';
import { HowItWorks } from '@/components/HowItWorks';
import { SocialProof } from '@/components/SocialProof';
import { B2BSection } from '@/components/B2BSection';
import { WorkflowAssessment } from '@/components/WorkflowAssessment';
import { FAQ } from '@/components/FAQ';
import { FinalCTA } from '@/components/FinalCTA';
import { Footer } from '@/components/Footer';
---

<Layout title="Kernel Coffee - Fuel for Deep Work">
	<div class="relative min-h-screen">
		<ASCIIBackground client:load />
		<Hero client:load />
	</div>
	<HowItWorks />
	<SocialProof />
	<B2BSection />
	<WorkflowProducts client:load />
	<WorkflowAssessment client:load />
	<FAQ />
	<FinalCTA />
	<Footer />
</Layout>
